/* tried to fix the issue of the #aboutMe stretching when page is shrunk */
/* @media screen and (max-width:600px) {
    #aboutMe{
        width: 100%;
    }
} */

body{
    background-color: black;
    color: white;
}

/* all links in body */
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
a :hover{
   color: rgb(19, 108, 216);
}
nav{
    /* border: 5px solid white; */
    text-align: center; /*centers nav links*/
    background-color: darkslategray;
    margin-bottom: 25px;
    margin-top: 0px;
}
nav ul a li{
    display:inline-block ;/* puts links inline*/
    margin: 5%;
    font-weight: bolder;
    color: white;
}
/* used flexbox to inline image and about me section */
/* cant figure out how to remove gap from in between image and about me section */
#flexbox{
    display: flex;
}

#myPic img{
    width: 50%; /*adjust size of image*/
    margin: 15px;
    margin-right: 0px;
    /* border: 5px solid white; */
    display: flex;
}
#aboutMe{
    /* border: 5px solid white; */
    width: 30%; /*shortens text box length*/
    margin-right: 100px;
    display: flex;
    align-items: center;
}
#projects{
    /* border: 5px solid white; */
    display: flex;
    justify-content: center; /* centers projects in respective div space regardless of screen size*/
    flex-wrap: wrap; /*wraps projects based on screen size*/
    margin: 10px;
    padding:15px ;
    width: 100%;
}
#projects .projectLink{
   margin: 10px;
}
#projects .projectLink figcaption{ /* this centers project titles under project image*/
    display: flex;
    justify-content: center;
}
#contactInfo{
    /* border: 5px solid white; */
    margin: 50px 10px;
}
#linkedin{
    color: rgb(19, 108, 216);
}
.underline{
    text-decoration: underline;
}